<ion-header-bar align-title="center" class="bar-dark">
    <div class="title">Infra Scrum</div>
</ion-header-bar>
<ion-content resize>	
	<div class="row">
		<!-- <div style="position: absolute; top:45%; bottom:30%; left:5%; right:5%; color: white; text-align: center; font-size:{{imgWidth -200}}px; font-weight: '{{imgWidth}}px'">
		 	1D
		 </div> -->		
	
		<img src="img/carta.png" width="{{imgWidth}}px" height="{{imgHeight - 100}}px" ng-if="showBackCard" ng-click="showFullImage()">		
		<img src="img/{{choice}}.png" width="{{imgWidth}}px" height="{{imgHeight - 100}}px" ng-click="getInitialPage()" ng-if="showOption">
					   		
	</div>
</ion-content>
<ion-footer-bar align-title="center" class="bar-dark">
   <h1 class="title">Scrum Pocker</h1>
</ion-footer-bar>
