	<ion-side-menus>
		<ion-side-menu-content>
			<ion-header-bar align-title="center" class="bar-dark">
			
			    <div class="buttons">
			    	<button class="button icon button-clear ion-navicon-round" 
			    	ng-click="toggleLeft()"></button>
			    	<!-- <label class="toggle">
					   <input type="checkbox">
					   <div class="track">
					     <div class="handle"></div>
					   </div>
					</label> -->
			    </div>
			    <div class="title">Infra Scrum</div>
			</ion-header-bar>
			<ion-content>
				<div class="row">
					<div class="col"ng-repeat="hour in hours" ng-click="getFullPage('{{hour}}')">
				  		<img src="img/{{hour}}.png" width="100%" height="auto">
					</div>		
				</div>

				<div class="row">
					<div class="col"ng-repeat="day in days" ng-click="getFullPage('{{day}}')">
				  		<img src="img/{{day}}.png" width="100%" height="auto">
					</div>		
				</div>

				<div class="row">
					<div class="col"ng-repeat="month in months" ng-click="getFullPage('{{month}}')">
				  		<img src="img/{{month}}.png" width="100%" height="auto">
					</div>		
				</div>

				<div class="row">
					<div class="col"ng-repeat="other in others" ng-click="getFullPage('{{other}}')">
				  		<img src="img/{{other}}.png" width="100%" height="auto">
					</div>		
				</div>	
			</ion-content>

			<ion-footer-bar align-title="center" class="bar-dark">
			   <h1 class="title">Scrum Pocker</h1>
			</ion-footer-bar>

		</ion-side-menu-content>
		<ion-side-menu side="left">		
			<ion-toggle toggle-class="toggle-calm" ng-model="tapOption.checked" ng-checked="tapOption.checked" ng-click="changeTapOption(this)">Tap to Show</ion-toggle>
		</ion-side-menu>
	</ion-side-menus>